@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #020617;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
select option {
  background-color: #020617;
  color: white;
}